<nav class="navbar">
    <div class="navbar__logo">
        <img src="/assets/car.jpg" alt="logo" class="navbar__logo-img" />
        <h1 class="navbar__logo-text">SCOUTSKILLZ</h1>
    </div>
    <ul class="navbar__menu">
        <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
        <li class="navbar__item"><a href="#" class="navbar__link">Courses</a></li>
        <li class="navbar__item"><a href="#" class="navbar__link">Blog</a></li>
        <li class="navbar__item"><a href="#" class="navbar__link">About us</a></li>
        <li class="navbar__item"><a href="#" class="navbar__link">Become an Instructor</a></li>
        <li class="navbar__item account-auth"><a href="#" class="navbar__link">Login</a></li>
        <li class="navbar__item account-auth"><a href="#" class="navbar__link">Sign up</a></li>
    </ul>
    <div class="navbar__hamburger">
        <span class="navbar__line"></span>
        <span class="navbar__line"></span>
        <span class="navbar__line"></span>
    </div>
</nav>
<div class="navbar__menubar">
    <ul class="navbar__menubar-list">
        <li class="navbar__menubar-item"><a href="#" class="navbar__menubar-link">Home</a></li>
        <li class="navbar__menubar-item"><a href="#" class="navbar__menubar-link">Services</a></li>
        <li class="navbar__menubar-item"><a href="#" class="navbar__menubar-link">Blog</a></li>
        <li class="navbar__menubar-item"><a href="#" class="navbar__menubar-link">Contact Us</a></li>
    </ul>
</div>