<h2>Log in</h2>
<form action="/user/sign-in" method="POST">
  <label>
    <input type="text" name="email"/>
  </label>
  <label>
    <input type="password" name="password"/>
  </label>
  <input type="submit"/>
</form>

<a href="/sign-up">Sign up</a>